@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Average+Sans&family=Inter:wght@100..900&display=swap');


/* -------------------General Styles------------------------- */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.m-container-header {
  max-width: 1300px;
  margin: 0 auto;
}

.m-container {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

input:focus {
  outline: none;
  border: none;
}

.select {
  outline: none;
  border: none;
}

.App {
  scroll-behavior: smooth;
}

.cart-container button:hover {
  background-color: #1f5bbf;
  cursor: pointer;
  transition: 0.3s ease;
}

.Banner button:hover {
  background-color: #1f5bbf;
  cursor: pointer;
  transition: 0.3s ease;
}

.product-card button:hover {
  background-color: #1f5bbf;
  cursor: pointer;
  transition: 0.3s ease;
}

.Subscribe button:hover {
  background-color: #FF8B8B;
  cursor: pointer;
  transition: 0.3s ease;
}

/* --------------------------Gen.Style end------------------- */


/*-----------------------------Home-page-header---------------------------- */
.App-logo {
  pointer-events: none;
  transform: scale(.7);
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1%;
  overflow: none;
}

.Search {
  display: flex;
}

.Search input {
  padding: 12px 140px 12px 40px;
  border-radius: 12px 0 0 12px;
  border: 1px solid #2972FF;
  border-right: none;
}

.Search select {
  border: 1px solid #2972FF;
  border-left: none;
  padding-right: 12px;
  outline: none;
  cursor: pointer;
}

.Search select:focus {
  outline: none;
}

/* .Nav-bar {
  position: relative;
  display: inline-block;
  width: 200px; 
}

select {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5em;
  font-size: 1em;
  color: #333;
  cursor: pointer;
}

select::after {
  content: "▼";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; 
  color: #333;
} */

.Search button {
  background-color: #2972FF;
  border: 1px #2972FF;
  border-radius: 0 12px 12px 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 30px;
}

.Search button:hover {
  cursor: pointer;
}

.Nav-bar ul {
  display: flex;
  align-items: center;
  list-style: none;
  font-weight: 500;
}

.Nav-bar ul li {
  display: flex;
  text-align: center;
  white-space: nowrap;
  padding: 0 20px;
}

.Nav-bar ul li:hover {
  cursor: pointer;
  color: #2972FF;
}

.Cart-logo {
  margin-right: 5px;
}

.add-to-cart-button {
  border-radius: 12px;
  color: #fff;
  background-color: #2972FF;
  border-radius: 12px;
  text-align: center;
  border: none;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 12px 24px;
  position: relative;
}

.add-to-cart-button:hover {
  cursor: pointer;
  color: #2972FF;
  color: #fff;
}

.add-to-cart-button::before {
  content: "5";
  position: absolute;
  top: -17px;
  right: -15px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #2972FF;
  font-size: 16px;
  text-align: center;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (min-width: 500px) {
  .menu-icon {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .Nav-bar {
    display: flex;
    flex-direction: row;
  }

  .Nav-bar button {
    border-radius: 12px;
    background-color: #fff;
    font-weight: 700;
    border: none;
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    padding: 12px 24px;
    font-family: "Poppins", sans-serif;
  }

}

/* ----------------Medium screens---------------------- */
@media (min-width: 501px) and (max-width: 1200px) {
  .App-header {
    padding: 0.5rem 2rem;
    padding-top: 1.5%;
    margin-top: 8px;
  }

  .Search {
    display: none;
  }

  .Search input {
    padding: 14px 100px 14px 12px;
  }

  .Search select {
    padding: 10px;
  }

  .Search button {
    padding: 12px 20px;
  }

  .Nav-bar ul {
    display: flex;
    align-items: center;
    list-style: none;
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    list-style: none;
    font-weight: 500;
  }

  .Nav-bar ul li {
    padding: 10px 15px;
  }

  .Search {
    width: 50%;
  }

}

/* -------------------Small screens------------------ */
@media (max-width: 500px) {
  .App-header {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 6px 0;
  }

  .Search {
    display: none;
  }

  .menu-icon {
    font-size: 24px;
    cursor: pointer;
  }

  .sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background: #fff;
    transition: left 0.3s ease;
    padding: 10px;
    z-index: 1000;
  }

  .sidebar.open {
    right: 0;
  }

  .sidebar ul {
    list-style-type: none;
    padding: 8% 6%;
    font-family: "Inter", sans-serif;
  }

  .sidebar ul li {
    padding: 10px 0;
    z-index: 4;
    font-size: 10px;
    font-weight: 500;
  }

  .sidebar li p {
    color: #696969;
  }

  .App-logo {
    transform: scale(.4);
    position: absolute;
    top: 0;
    margin-left: 20%;
  }

  .Nav-bar {
    font-size: 12px;
  }

  .Search,
  .Nav-bar {
    display: none;
  }

  .App-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .App-logo {
    width: 150px;
    height: auto;
  }

  .add-to-cart-button {
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(.7);
  }

  .sidebar-dropdown {
    display: flex;
    align-items: center;
  }

  .sidebar input {
    border: 1px solid #E3E3E3;
    border-radius: 6px;
    font-size: 6px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    padding: 5% 0 5% 10%;
    width: 100%;
  }

}

/*-------------Home-page-header-end------------------------- */



/* -------------------------Home-page-Banner----------------------- */
.Banner-details p {
  font-size: 52px;
  font-weight: 600;
  max-width: 700px;
  line-height: 60px;
}

.Banner-details {
  width: 100%;
  color: #fff;
  max-height: 360px;
  background-image: url('./images/image 1.svg');
  background-size: cover;
  padding: 8% 4%;
}

.Active-button {
  font-size: 18px;
  padding: 12px 42px;
  background-color: #2972FF;
  color: #fff;
  border: none;
  border-radius: 12px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 15px;
}

.Features ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  padding: 2% 0;
  white-space: nowrap;
}

.Features img {
  max-width: 16px;
}



/*------------------ Small screens -------------------------*/
@media (max-width: 500px) {
  .Banner-details p {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    max-width: 60%;
    margin: 5% 0 0 0;
  }

  .Banner-details {
    background-image: url("images/Frame\ 53245.svg");
    background-size: cover;
    width: 100%;
  }

  .Active-button {
    font-size: 13px;
    padding: 10px 20px;
    margin: 0;
    margin-left: -5%;
    margin-top: 1%;
    transform: scale(.7);
  }

  .Tick {
    transform: scale(.8);
  }

  .Features ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    flex-wrap: wrap;
    margin: 0 6%;
  }
}

/* ---------------Medium screens-------------------- */
@media (min-width: 501px) and (max-width: 1024px) {

  .Features ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 9px;
    flex-wrap: wrap;
    margin: 0 6%;
  }

  .Banner-details h1 {
    font-size: 36px;
  }

  .Active-button {
    font-size: 16px;
    padding: 12px 24px;
  }

  .Features ul {
    flex-direction: row;
    justify-content: space-around;
    font-size: 12px;
    margin: auto 4%;
  }
}

/* -------------------------------Home page-Banner-end--------------------------------------- */



/* --------------------------------Home-page-Featured-products----------------------------- */
.product-container h1 {
  font-size: 48px;
  padding: 12px 0;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 24px;
  row-gap: 36px;
  max-width: 1612px;
}

.set-product {
  max-width: 1612px;
}

.product-container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto 64px auto;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  padding: 16px;
}

.product-image-card {
  border-radius: 12px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 1px solid #9DBEFF;
  margin: 0 -6.5%;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.like {
  cursor: pointer;
}

.active-button {
  white-space: nowrap;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  background-color: #2972FF;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
}

.product-card p {
  font-size: 14px;
}

.active-button .cart-logo {
  margin-right: 5px;
}


/* ---------------------------------Responsviveness for products-------------------  */
@media (max-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 501px) and (max-width: 900px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-container h1 {
    font-size: 32px;
  }
}

@media (max-width: 500px) {
  .product-grid {
    grid-template-columns: 1fr;
  }

  .product-container h1 {
    font-size: 16px;
  }

  .price img {
    transform: scale(.8);
  }

  .product-name {
    font-size: 8px;
    font-weight: 500;
  }

  .product-price {
    font-size: 14px;
    font-weight: 600;
  }

  .product-card {
    transform: scale(.9);
    height: auto;
    margin-bottom: -20%;
  }

  .product-details {
    margin: 16px -5%;
  }
}

/* ------------------------------------------Featured-product-end----------------------------------- */



/* ---------------------------Home-page-Footer------------------------- */
.Subscribe {
  background-color: #2972FF;
}

.Newsletter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  color: #fff;
}

.Newsletter p {
  font-weight: 400;
  font-size: 18px;
}

.Form {
  display: flex;
  gap: 15px;
}

.Form input {
  padding: 15px 100px 15px 20px;
  border: none;
  border-radius: 12px;
  font-family: "Average Sans", sans-serif;
}

.Form button {
  border: none;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
  padding: 16px 39px;
  background-color: #FFBABA;
}

.Outro {
  padding: 3% 0 5% 0;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.links {
  display: flex;
  width: 60%;
  align-items: start;
  justify-content: space-between;
  font-size: 12px;
  font-family: "Inter", sans-serif;
}

.links p {
  padding: 4px 0;
}

.support p {
  padding: 4px 0;
  font-family: "Inter", sans-serif;
  font-size: 12px;
}

.footer-p {
  font-weight: 600;
  font-size: 13px;
}

.apps {
  display: flex;
  flex-direction: column;
}

.apps img {
  margin-top: 15px;
}

.social-media {
  white-space: nowrap;
  font-size: 12px;
  font-weight: 400;
  width: 100%;
}

.social-media-apps {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100px;
}

.social-media img {
  margin-top: 7px;
  margin-bottom: 36px;
}

.Finalle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  font-size: 13px;
}

.impo-links {
  display: flex;
  justify-content: space-between;
  max-width: 332px;
  gap: 20px;
  white-space: nowrap;
}

.impo-links p {
  text-decoration: underline;
}


/*--------------------- Small screens ----------------*/
@media (max-width: 500px) {
  .Newsletter {
    flex-direction: column;
  }

  .Newsletter p {
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 3%;
    max-width: 80%;
  }

  .Form {
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    font-size: 12px;
  }

  .Outro {
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    padding: 2% 3%;
  }

  .links {
    width: 100%;
    font-size: 8px;
    font-weight: 400;
    flex-direction: column;
    max-width: 40%;
    display: flex;
    margin-top: 0;
    align-self: flex-start;
  }

  .follow {
    margin-top: 20px;
  }

  .social-media p {
    font-size: 12px;
    font-weight: 400;
  }

  .download {
    margin-top: 20px;
  }

  .download h4 {
    font-size: 12px;
    font-weight: 600;
  }

  .apps img {
    transform: scale(.8);
    margin-top: 0;
  }

  .logo img {
    transform: scale(.6);
  }

  .Finalle {
    flex-direction: column;
    font-size: 8px;
    font-weight: 400;
    align-items: flex-start;
    padding-left: 16px;
    gap: 8px;
  }

  .impo-links {
    flex-direction: row;
    gap: 10px;
  }

  .f-small-screen {
    display: flex;
    flex-direction: column;
  }

  .support {
    font-size: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }

  .support p {
    padding: 4px 0;
    font-family: "Inter", sans-serif;
  }
}

/* ---------------Medium screens -------------*/
@media (min-width: 501px) and (max-width: 1024px) {
  .Newsletter {
    flex-direction: column;
    margin-top: 5%;
  }

  .Newsletter p {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 18px;
    padding: 0 5%;
    max-width: 80%;
    text-align: center;
  }

  .Form {
    width: 100%;
    max-width: 300px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -10%;
  }

  .Outro {
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    padding: 2% 3%;
  }

  .links {
    width: 100%;
    font-size: 10px;
    font-weight: 400;
    flex-direction: column;
    max-width: 40%;
    display: flex;
    margin-top: 0;
    align-self: flex-start;
  }

  .follow {
    margin-top: 20px;
  }

  .social-media p {
    font-size: 14px;
    font-weight: 400;
  }

  .download {
    margin-top: 20px;
  }

  .download h4 {
    font-size: 14px;
    font-weight: 600;
  }

  .apps img {
    transform: scale(.8);
    margin-top: 0;
  }

  .logo img {
    transform: scale(.6);
  }

  .Finalle {
    flex-direction: column;
    font-size: 10px;
    font-weight: 400;
    align-items: center;
    gap: 8px;

  }

  .impo-links {
    flex-direction: row;
    gap: 10px;
  }

  .f-small-screen {
    display: flex;
    flex-direction: column;
  }

  .support {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }

  .support p {
    padding: 4px 0;
    font-family: "Inter", sans-serif;
  }
}

/* ------------------------------Homepage-footer end--------------------- */




/* ------------------------------Beginning of Cart.js-------------------------------- */
.stage-cart {
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 1%;
  pointer-events: none;
}

.stage-cart span:nth-child(1) {
  color: #737373;
}

.stage-cart span:nth-child(1):hover {
  cursor: pointer;
}

.cart-container h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 72px;
}

.progress-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5%;
  margin-bottom: 5%;
  position: relative;
}

.step {
  width: 70%;
  height: 4px;
  background-color: #BDBDBD;
  margin-top: 16px;
}

.step.active {
  background-color: #2972FF;
}

.not-active {
  background-color: #BDBDBD;
}

.step-num {
  background-color: #2972FF;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
}

.step-num-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 32%;
  width: 36%;
  z-index: 1;
}

.step-num-container span:nth-child(2) {
  background-color: #BDBDBD;
}


.stage-cart-cart,
.Cart,
.cart-progress-bar {
  padding: 0 3%;
}

.cartProd-container {
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
}

.cart-items {
  width: 70%;
}

.cart-heading {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  border-bottom: 1px solid #C8C8C8;
  padding: 10px 0;
}

.first-p {
  width: 45%;
  text-align: center;
}

.cart-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #C8C8C8;
  padding: 1.5% 0;
}

.product-cart-image {
  max-width: 50%;
}

.product-cart-image img {
  width: 100%;
}

.cart-product-details p:nth-child(1) {
  font-weight: 500;
  max-width: 200px;
}

.cart-product-details p:nth-child(2),
.total-p {
  font-weight: 600;
}

.cart-product-details {
  font-size: 16px;
  display: flex;
  gap: 8%;
  align-items: center;
  width: 100%;
}

.quantity-control {
  display: flex;
  align-items: center;
}

.quantity-control button {
  font-family: "Inter", sans-serif;
  width: 30px;
  height: 25px;
  border-radius: 4px;
  color: #fff;
  background-color: #2972FF;
  border: none;
  font-size: 16px;
  margin: 0 5px;
}

.quantity-control button:nth-child(1) {
  background-color: #818181;
}

.quantity-control span {
  width: 15%;
  text-align: center;
  margin: 0 0.5rem;
}

.order-summary {
  width: 25%;
  padding: 20px;
  border: 1px solid #2568E8;
  border-radius: 8px;
  border-radius: 10px;
  align-self: flex-start;
  margin-top: 4%;
}

.order-summary h2 {
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.order-summary p,
.order-summary h6 {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #818181;
}

.order-summary p span {
  color: #2972FF;
  font-weight: 500;
}

.order-summary hr {
  margin: 20px 0;
  color: #C8C8C8;
}

.order-summary h6 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #000;
  padding: 1%;
}

.order-summary h6 span {
  color: #2972FF;
}

.coupon {
  display: flex;
  justify-content: space-between;
}

.coupon button {
  opacity: .5;
}

.coupon input {
  font-family: "Inter", sans-serif;
  padding: 9px 10px;
  width: 68%;
  border-radius: 8px;
  border: 1px solid #D0D0D0;
}

.order-summary button {
  width: 100%;
  padding: 10px;
  background-color: #2972FF;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.coupon button {
  width: 30%;
  font-family: "Inter", sans-serif;
}

.quantity-control button:nth-child(1):hover {
  background-color: #6B6B6B;
  cursor: pointer;
}


/* ---------------styles for medium screens------------- */
@media (min-width: 501px) and (max-width: 1024px) {
  .cartProd-container {
    display: flex;
    flex-direction: column;
  }

  .progress-bar {
    gap: 10%;
  }

  .step-num-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 30%;
    width: 40%;
    z-index: 1;
  }

  .cart-items {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .cart-heading {
    display: none;
  }

  .cart-item {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
  }

  .delete {
    transform: scale(.8);
  }

  .product-cart-image {
    max-width: 30%;
  }

  .cart-product-details {
    flex-wrap: wrap;
    margin-left: 0;
    margin-bottom: 10px;
    margin-left: 7px;
    width: 60%;
  }

  .cart-product-details p:nth-child(1) {
    font-size: 14px;
    flex-wrap: wrap;
    margin-top: 10px;
    font-weight: 500;
    min-width: 100%;
  }

  .cart-product-details p:nth-child(2) {
    font-size: 14px;
    margin-top: 10px;
    margin-right: auto;
    font-weight: 600;
  }

  .quantity-control {
    margin-top: 10px;
  }

  .quantity-control span {
    width: 15%;
    text-align: center;
    margin: 0 .2rem;
    font-size: 12px;
  }

  .quantity-control button {
    width: 18px;
    height: 16px;
    font-size: 10px;
    padding-top: 0;
  }

  .total-p {
    font-size: 12px;
    margin-top: 15px;
  }

  .total-p-span {
    font-size: 12px;
    margin-left: 20px;
  }

  .order-summary {
    margin: 5% auto;
    margin-top: 20px;
    width: 100%;
  }

  .order-summary h2 {
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 600;
  }

  .order-summary p {
    font-size: 10px;
    font-weight: 400;
  }

  .order-summary p span {
    color: #2972FF;
    font-weight: 500;
    font-size: 10px;
  }

  .coupon button,
  .coupon input {
    font-size: 8px;
  }

  .order-summary h6 span {
    font-weight: 600;
    font-size: 14px;
  }

  .order-summary h6 {
    font-weight: 500;
    font-size: 14px;
  }

  .go-to-checkout {
    width: 80%;
  }
}



/* -----------------styles for small screens--------------- */
@media (max-width: 500px) {
  .cartProd-container {
    display: flex;
    flex-direction: column;
  }

  .progress-bar {
    gap: 5%;
  }

  .step-num-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 27%;
    width: 46%;
    z-index: 1;
  }

  .cart-items {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .cart-heading {
    display: none;
  }

  .cart-item {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
  }

  .delete {
    transform: scale(.8);
  }

  .product-cart-image {
    max-width: 30%;
  }

  .cart-product-details {
    flex-wrap: wrap;
    margin-left: 0;
    margin-bottom: 10px;
    margin-left: 7px;
    width: 60%;
  }

  .cart-product-details p:nth-child(1) {
    font-size: 10px;
    white-space: nowrap;
    margin-top: 10px;
    font-weight: 500;
  }

  .cart-product-details p:nth-child(2) {
    font-size: 12px;
    margin-top: 10px;
    margin-right: auto;
    font-weight: 600;
  }

  .quantity-control {
    margin-top: 10px;
  }

  .quantity-control span {
    width: 15%;
    text-align: center;
    margin: 0 .2rem;
    font-size: 12px;
  }

  .quantity-control button {
    width: 18px;
    height: 16px;
    font-size: 10px;
    padding-top: 0;
  }

  .total-p {
    font-size: 12px;
    margin-top: 15px;
  }

  .total-p-span {
    font-size: 12px;
    margin-left: 20px;
  }

  .order-summary {
    margin: 5% auto;
    margin-top: 20px;
    width: 100%;
  }

  .order-summary h2 {
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 600;
  }

  .order-summary p {
    font-size: 10px;
    font-weight: 400;
  }

  .order-summary p span {
    color: #2972FF;
    font-weight: 500;
    font-size: 10px;
  }

  .coupon button,
  .coupon input {
    font-size: 8px;
  }

  .order-summary h6 span {
    font-weight: 600;
    font-size: 14px;
  }

  .order-summary h6 {
    font-weight: 500;
    font-size: 14px;
  }

  .go-to-checkout {
    width: 80%;
  }
}

/* ------------------------------End of Cart.js--------------------------------- */



/* -------------------------------------Begginning of Checkout.js----------------------------- */

.checkout-page-container {
  padding-bottom: 20px;
}

.stage-cart {
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 1%;
  pointer-events: none;
}

.stage-cart span:nth-child(1),
.stage-cart span:nth-child(2),
.stage-cart span:nth-child(3) {
  color: #737373;
}

.checkout-page-content h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 72px;
}

.checkout-step {
  width: 30%;
  height: 4px;
  margin-top: 16px;
}

.checkout-step.active {
  background-color: #2972FF;
}

.checkout-step-num-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 31%;
  width: 38%;
  z-index: 1;
}

.checkout-step-num {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
  background-color: #2972FF;
}

.checkout-details-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.checkout-billing-details {
  font-family: "Inter", sans-serif;
  width: 50%;
}

.checkout-billing-details h2 {
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 36px;
}

.checkout-form-group {
  margin-bottom: 24px;
}

.checkout-form-group label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}

.checkout-form-group label span {
  color: #DD2C00;
}

.checkout-form-group p {
  font-size: 14px;
  font-weight: 400;
  padding: 12px 0;
}

.checkout-form-group p span {
  color: #A5A5A5;
}

.checkout-form-group input,
.checkout-form-group textarea {
  color: #A5A5A5;
  border-radius: 20px;
  width: 100%;
  padding: 18px;
  border: 1px solid #B9B9B9;
  border-radius: 8px;
}

.checkout-form-group textarea {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.checkout-form-group textarea:focus {
  border-color: #B9B9B9;
}

.checkout-order-summary {
  width: 45%;
  padding: 20px;
  margin-top: 4%;
  border: 1px solid #2568E8;
  border-radius: 12px;
}

.checkout-order-summary h2 {
  margin-bottom: 20px;
}

.checkout-order-items {
  margin-bottom: 20px;
}

.checkout-order-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #C8C8C8;
  padding: 3% 0;
}

.checkout-order-item img {
  width: 35%;
}

.info-check-out {
  width: 55%;
}

.info-check-out p:nth-child(1) {
  font-size: 14px;
  font-weight: 500;
  width: 80%;
}

.info-check-out p:nth-child(2) {
  font-size: 16px;
  font-weight: 600;
}

.checkout-order-summary p {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.sub-t {
  font-size: 13px;
  font-weight: 400;
}

.sub-t-span {
  font-weight: 500;
  color: #2972FF;
}

.sub-t-t {
  font-weight: 600;
}

.sub-t-t-t {
  font-weight: 600;
}

.checkout-coupon {
  display: flex;
  justify-content: space-between;
}

.checkout-coupon input {
  width: 68%;
  padding: 10px;
  border: 1px solid #D0D0D0;
  border-radius: 8px;
}

.checkout-coupon button {
  width: 30%;
  padding: 10px;
  background-color: #2972FF;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  opacity: .5;
}

.payment-button {
  width: 100%;
  padding: 10px;
  background-color: #2972FF;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.checkout-order-summary button:hover {
  background-color: #1f5bbf;
}

/* ---------------------------Small screen------------------------- */
@media (max-width: 500px) {
  .Search {
    display: none;
  }

  .checkout-page-content h1 {
    font-size: 24px;
  }

  .stage-cart {
    font-size: 12px;
  }

  .checkout-page-container {
    padding: 4%;
  }

  .checkout-details-section {
    flex-direction: column;
  }

  .checkout-billing-details h2 {
    font-size: 16px;
    padding-top: 18px;
  }

  .checkout-billing-details,
  .checkout-order-summary {
    width: 100%;
  }

  .checkout-form-group label {
    font-size: 14px;
  }

  .checkout-step-num-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 27%;
    width: 46.5%;
    z-index: 1;
  }

  .checkout-step-num {
    transform: scale(.7);
    font-size: 14px;
  }

  .checkout-step {
    width: 25%;
    height: 2px;
  }

  .checkout-form-group input,
  .checkout-form-group textarea {
    font-size: 10px;
  }

  .checkout-form-group textarea {
    padding: 10px;
  }

  .checkout-order-item img {
    width: 35%;
  }

  .info-check-out {
    font-size: 8px;
    font-weight: 500;
  }

  .info-check-out p:nth-child(2) {
    margin-top: 12px;
  }

  .checkout-order-summary {
    padding: 20px 10px;

  }

  .checkout-order-summary h2 {
    font-size: 12px;
    font-weight: 600;

  }

  .checkout-order-summary p:nth-child(1) {
    font-size: 12px;
    font-weight: 500;
    min-width: 210px;
  }

  .checkout-order-summary p:nth-child(2) {
    font-size: 12px;
  }

  .quantity {
    font-size: 12px;
    font-weight: 600;
  }

  .sub-t {
    font-size: 9px;
    font-weight: 400;
  }

  .sub-t-span {
    font-size: 10px;
    font-weight: 500;
    color: #2972FF;
  }

  .checkout-coupon input {
    font-size: 8px;
  }

  .checkout-coupon button {
    font-size: 10px
  }

  .sub-t-t {
    font-size: 14px;
    font-weight: 600;
  }

  .sub-t-t-t {
    font-size: 14px;
    font-weight: 500;
  }

  .payment-button {
    font-size: 13px;
    font-weight: 500;
  }

}

/* -----------------Medium screen--------------------------- */
@media (min-width: 501px) and (max-width: 1024px) {
  .progress-bar {
    gap: 10%;
  }

  .checkout-step-num {
    transform: scale(.8);
  }

  .checkout-billing-details {
    margin-top: 20px;
  }

  .checkout-step-num-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 29%;
    width: 42.5%;
    z-index: 1;
  }

  .checkout-page-container {
    padding: 0 3%;
  }

  .checkout-details-section {
    display: flex;
    flex-direction: column;
  }

  .checkout-billing-details {
    width: 100%;
  }

  .checkout-order-summary {
    width: 100%;
  }
}

/* -------------------------------------End of Checkout.js----------------------------- */





.product-image-card {
  position: relative;
}

.product-image-card img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
}

.view-product-button {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 25px;
  white-space: nowrap;
  background-color: #fff;
  color: #2972FF;
  text-decoration: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;  
  border: none;
  font-family: "Poppins", sans-serif;
  transition: transform 0.5s ease;
}

.product-card:hover .view-product-button {
  display: block;
  transition: 0.5s ease;
}

.product-card:hover .product-image-card img {
  transform: scale(1.03);
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.3);
}

.product-image-card button:hover {
  background-color: #fff;
}

